[submodule "lawnmower/src/viso2"]
	path = lawnmower/src/viso2
	url = https://github.com/srv/viso2.git
[submodule "stereo_rig/src/prosilica_driver"]
	path = stereo_rig/src/prosilica_driver
	url = https://github.com/ros-drivers/prosilica_driver.git
